<h1>Заявка на дилерство</h1>

<h3>
    Информация об авторе заявки:
</h3>
<p>
    Имя: <%= @request[:name] %>
</p>
<p>
    Контактный E-mail: <%= @request[:email] %>
</p>
<h3>
    Сообщение
</h3>
<p>
    <%= @request[:comment].blank? ? "Без комментария" : @request[:comment] %>
</p>
