@font-face {
    font-family: 'clear_sans_regular';
    src: url('/fonts/ClearSans/TTF/ClearSans-Regular.ttf') format('truetype');
    font-style: normal;
}
@font-face {
    font-family: 'clear_sans_medium';
    src: url('/fonts/ClearSans/TTF/ClearSans-Medium.ttf') format('truetype');
    font-style: normal;
}
@font-face {
    font-family: 'clear_sans_bold';
    src: url('/fonts/ClearSans/TTF/ClearSans-Bold.ttf') format('truetype');
    font-style: normal;
}
@font-face {
    font-family: 'clear_sans_italic';
    src: url('/fonts/ClearSans/TTF/ClearSans-Italic.ttf') format('truetype');
    font-style: normal;
}
@font-face {
    font-family: 'clear_sans_bold_italic';
    src: url('/fonts/ClearSans/TTF/ClearSans-BoldItalic.ttf') format('truetype');
    font-style: normal;
}
@import "foundation-sites";
@import "realcraft";

$foundation-palette: (
  primary: $rc-primary-dark-blue,
  secondary: $rc-gray,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
  rc-primary-blue: $rc-primary-blue,
  rc-primary-dark-blue: $rc-primary-dark-blue,
  rc-secondary-dark-blue: $rc-secondary-dark-blue,
  rc-blue: $rc-blue,
);

$regular-fonts: 'clear_sans_regular','Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$bold-fonts: 'clear_sans_bold','Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$medium-fonts: 'clear_sans_medium','Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;

$body-font-family: "clear_sans_regular",'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$header-font-family: 'clear_sans_bold','Helvetica Neue', Helvetica, Roboto, Arial, sans-serif ;
@include foundation-global-styles;
 

$light-gray:#f2f5f7;
$medium-black:  #232323;
$thumbnail-border: solid 2px $white;

///top-bar settings
$menu-item-color: $rc-primary-dark-blue;
$menu-item-color-active: $dark-gray;
$menu-item-background-active: none;
$topbar-background: $rc-primary-dark-blue;
$topbar-submenu-background: $rc-primary-dark-blue;
$topbar-title-spacing: 0;
$topbar-padding: 1.3rem; 
$hr-width: 100%;
$dropdownmenu-background: $rc-primary-dark-blue;
$dropdownmenu-arrow-color: $white;
a.locale-link
{
    text-decoration: underline;
}

.title-bar
{
    &#responsive
    {
        background-color: darken($topbar-background, 5%);
    }
    #locale-link
    {
        padding-top: 0.46rem;
    }
    a{
        color: $white; font-family: $bold-fonts;
        &:hover {color:  darken($white, 13%)}
    }
}
.top-bar 
{
    li{z-index: 300;}
    @include breakpoint(small only) 
    {
       &, &#main-menu{padding: 0;}
       
       li 
       {
           display: block;
           &:hover
           {
              background-color: darken($topbar-background, 5%); 
           }
          &, a 
          {
              font-size: 1rem;
              padding: 0.5rem 0 0.5rem 0;
          }
       }
     }
    @include breakpoint(medium) 
    {
       padding: 1.2rem;
     }
     @include breakpoint(large) 
     {
        padding: 1.3rem;
      }
    a{
        color: $white; font-family: $bold-fonts;
        @include breakpoint(medium) 
        {
           font-size: 0.8rem;
         }
         @include breakpoint(large) 
         {
            font-size: 0.9rem;
          }
      }
    a:hover {color: darken($white, 15%);}
    li.top-bar-links{
        position:relative;
        

        @include breakpoint(small) 
        {
                   text-align: left;
         }
        @include breakpoint(medium) 
        {
                   text-align: center;
                   top: 0.2rem;
         }
         @include breakpoint(large) 
         {
                    top: 0.1rem;
          }
        
    }
    li.top-bar-img a
    {
        padding: 0;
        text-align: left;
    }
}

.row
{
    margin-left: auto;
    margin-right: auto;
    z-index: 200;
}

.callout
{
    z-index: 201;
}
///reveal
$reveal-background: $white;
$reveal-width: 75%;
$reveal-border: none;
$reveal-padding: 0px;
///reveal end

//tabs
$tab-item-padding: 1.3rem 1.3rem;
$tab-content-padding: 0.5rem 0 0 0;
$tab-color: $white;
$tab-active-color: $black;
$tab-background: $rc-gray;
$tab-content-border: none;
//$tab-item-font-size: 1.0rem;
.tabs
{
    a.no-style
    {
        color: $white;
        font-family: $medium-fonts;
        text-decoration: none;
        @include breakpoint(small) {font-size: 0.7rem;}
        @include breakpoint(medium) {font-size: 0.85rem;}
        @include breakpoint(large) {font-size: 1.0rem;}
    }
    a.no-style:hover
    {
        color: $rc-dark-blue;
    }
    .is-active
    {
        a.no-style
        {
            color: $rc-dark-blue;
        }
    }
}

//

//tooltip
$has-tip-font-weight: normal;
$tooltip-background-color: $rc-primary-dark-blue;


//table
$table-color-scale: 5%;
$table-background: smart-scale($rc-primary-dark-blue, 98%);
$table-striped-background: smart-scale($rc-primary-dark-blue, 92%);
$table-head-background: smart-scale($rc-primary-dark-blue, 10%);
$table-head-font-color: $white;
$table-row-stripe-hover: darken($table-background, $table-color-scale + $table-hover-scale);
$table-row-hover:darken($table-background, $table-hover-scale);
$table-border: 1px solid smart-scale($table-background, $table-color-scale);
thead:hover
{
    th{
        background-color: $table-head-background;
    }
    
}
th, thead
{
    font-weight: normal;
    font-family: $bold-fonts;
    text-align: center;
}
th#modification
{
    text-align: center;
}


